<nav id="mobile-nav-{{mobileNavId}}" class="mobile-nav" aria-label="Mobile Navigation" data-i18n-aria-label="common.nav.mobileLabel" role="navigation">
  <ul>
    <li><a href="/"{{#eq currentPage "start"}} aria-current="page"{{/eq}} data-i18n="common.nav.start">Start</a></li>
    <li><a href="/projekt/"{{#eq currentPage "projekt"}} aria-current="page"{{/eq}} data-i18n="common.nav.projekt">Über das Projekt</a></li>
    <li><a href="/workshops/"{{#eq currentPage "workshops"}} aria-current="page"{{/eq}} data-i18n="common.nav.workshops">Workshops &amp; Termine</a></li>
    <li><a href="/aktuelles/"{{#eq currentPage "aktuelles"}} aria-current="page"{{/eq}} data-i18n="common.nav.aktuelles">Was bisher passiert ist</a></li>
    <li><a href="/teilnehmen/"{{#eq currentPage "teilnehmen"}} aria-current="page"{{/eq}} data-i18n="common.nav.mitmachen">Teilnehmen</a></li>
    <li><a href="/partner/"{{#eq currentPage "partner"}} aria-current="page"{{/eq}} data-i18n="common.nav.kontakt">Träger &amp; Kontakt</a></li>
  </ul>
  <div class="mobile-secondary-nav">
    <a href="/transparenz/" class="foerderer-link-mobile" data-i18n="common.aboveHeader.foerderer">Für Förderer &amp; Partner</a>
  </div>
  <div class="mobile-contact">
    <p><strong data-i18n="common.mobileContact.heading">Direkt erreichen:</strong></p>
    <p><a href="tel:+491637038724">+49 163 7038724</a></p>
    <p><a href="mailto:info@mavka-berlin.de">info@mavka-berlin.de</a></p>
  </div>
</nav>